.card {
    .card-header {
        .form-group {
            margin-right: 40px;
            label {
                margin-right: 10px;
            }
        }
        .clear-search {
            margin-left: 40px;
        }
    }

}